.TabPost {
	padding: 0px;
	font-size: 10px;
	color: #d9dfff;
	background-color: black;
	border: 1px solid #8282d9;
}
.TabPost TD{
	text-align: justify;
}
.TabPost TH{
	text-align: justify;
}
.postText{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
}


.forumCol {
	width: 425px;
	margin-top: 10px;
	margin-left: 30px;
	padding: 5px 0px;
	float: left;
}

.group {
	padding: 3px;
	text-align: justify;
}

.groupTitle {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffcc00;
	border-bottom: 1px dashed #552780;
	margin-bottom: 8px;
}

.forumItem {
	clear: both;
	background-color: #1a102a;
	margin-bottom: 6px;
	height: 24px;
	border-right: 4px solid #552780; 
}
.forumItemSel {
	border-right-color: #eecc00; 
}
.forumItem a{
	display: block;
	height: 24px;
	color: #c4c4f4;
}
.forumItem a:hover{
	color: #ffcc00;
}
.forumItemSel a{
	color: white;
}
.forumName {
	float: left;
	padding: 3px 5px 3px 5px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.forumNick {
	float: right;
	height: 12px;
	font-size: 9px;
	color: black;
	padding: 5px 3px 0px 3px;
	margin: 4px;
}
.forumCount {
	float: left;
	display: block;
	width: 36px;
	height: 22px;
	background-color: #552780;
	color: white;
	padding: 1px 3px;
	text-align: right;
	font-size: 10px;
	line-height: 11px;
	margin-right: 5px;
}
.forumFav {
	cursor: pointer;
	display: block;
	float: left;
}


