body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	background-color: Black;
	color: #d9dfff;
	background-image: url("images/layout-top-bg.jpg");
	background-repeat: no-repeat;
	background-position: center 0px;
	behavior: url("../js/csshover3.htc");
}

.pageTop{
	margin: 0px auto;
	width: 950px;
	height: 130px;
}

.infoBox{
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #c4c4f4;
	background-repeat: no-repeat;
	background-image: url("images/layout-infobox-big.png");
	width: 295px;
	height: 96px;
	padding: 8px 13px;
	float: right;
	text-align: right;
	margin-top: 12px;
	position: relative;
}

.infoBox strong{
	font-size: 15px;
	color: #ffcc00;
}

.infoBox .indBox{
	position: absolute;
	bottom: 6px;
	left: 15px;
}

.infoBox .indIcon{
	width: 26px;
	height: 24px;
	margin-right: 5px;
	float: left;
	position: relative;
}

.infoBox .indCount{
	cursor: pointer;
	color: black;
	background-color: #ffcc00;
	border: 1px solid black;
	font-size: 9px;
	padding-right: 1px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#B5time{
	position: absolute;
	bottom: 10px;
	right: 16px;
}

.browserVer{
	margin: 0px auto;
	width: 950px;
	background-color: Red;
	border: 1px solid black;
	color: Black;
	font-weight: bold;
	padding: 4px;
	position: relative;
	top: 10px;
}

.browserVer a{
	color: #530053;
	text-decoration: underline;
}

.menuPanel{
	margin: 19px auto 0px auto;
	height: 27px;
	width: 950px;
	padding: 0px 17px;
	position: relative;
	top: 8px;
	color: Black;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.menuBTN{
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center 0px;
	height: 27px;
	width: 95px;
	padding: 5px 10px 0px 10px;
	text-align: center;
}

.panelTop{
	height: 8px;
	min-width: 984px;
	margin: 0px auto;
	background-repeat: no-repeat;
	background-image: url("images/panel-top.png");
	background-position: center 0px;
	position: relative;
	z-index: 2;
}

.panelBottom{
	height: 7px;
	min-width: 984px;
	margin: 0px auto;
	background-repeat: no-repeat;
	background-image: url("images/panel-bottom.png");
	background-position: center 0px;
	position: relative;
	z-index: 2;
}

.panel{
	height: 105px;
	min-width: 984px;
	margin: 0px auto;
	background-repeat: no-repeat;
	background-image: url("images/panel-main.png");
	background-position: center 0px;
	position: relative;
	z-index: 2;
}

.panelBox{
	width: 950px;
	margin: 0px auto 0px auto;
	padding: 4px 17px 4px 17px;
}

.panelRightBox{
	float: right;
	padding-right: 5px;
}

.resLabel{
	padding-right: 5px;
	font-size: 10px;
	color: #402050;
	font-weight: bold;
}

.panelResources{
	cursor: default;
	background-repeat: no-repeat;
	background-position: right;
/*	padding-right: 22px;
	margin: 0px 0px;*/
	padding: 1px 22px 1px 0px;
	height: 16px;
	text-align: right;
	font-weight: bold;
	font-size: 11px;
}

.mainDoc{
	background-repeat: repeat-y;
	background-image: url("images/layout-doc-bg.png");
	width: 950px;
	min-height: 400px;
	margin: 0px auto;
	padding: 0px 17px;
	position: relative;
	top: -7px;
	z-index: 1;
}

.mainTitle{
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
/*	color: #d9dfff;*/
	color: #ffcc00;
	letter-spacing: -1px;
	background-repeat: repeat-x;
	background-image: url("images/layout-title-bg.gif");
	font-weight: bold;
	font-size: 24px;
	float: left;
	height: 36px;
	padding: 5px 10px 0px 15px;
}

.mainTitleFade{
	background-repeat: no-repeat;
	background-image: url("images/layout-title-fade.gif");
	float: left;
	height: 41px;
	width: 61px;
}

.bottomBTN{
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center 0px;
	height: 18px;
	width: 76px;
	padding: 2px 10px 0px 10px;
	margin-right: 30px;
	text-align: center;
	float: right;
	color: Black;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.bottomBTN:hover{
	color: white;
}

.pageBottom{
	position: relative;
	z-index: 0;
	min-width: 984px;
}

.pageBottomBG{
	background-repeat: repeat-x;
	background-image: url("images/layout-bottom-bg.jpg");
	height: 251px;
	width: 100%;
	left: 0px;
	position: absolute;
	top: -100px;
}

.mainDocBottom{
	background-repeat: no-repeat;
	background-image: url("images/layout-doc-bottom.png");
	margin: 0px auto;
	position: relative;
	top: -7px;
	height: 37px;
	width: 984px;
}

.pageBottomInfo{
	width: 950px;
	margin: 0px auto;
	position: relative;
	font-size: 10px;
	text-align: right;
	top: -18px;
}

.content{
	padding: 5px;
	clear: both;
	color: #f8f0ff;
}

.narrowBox{
	margin: 0 auto;
	padding: 30px 0px 15px 0px;
	width: 830px;
}

.warningBox{
	min-height: 70px;
	position: relative;
	top: 70px;
	left: 170px;
	padding: 5px 10px 0px 80px;
	text-align: left;
	background-repeat: no-repeat;
	background-image: url("images/warning.png");
}

.colResLight{
/*	color: #c0a0ff;*/
	color: #ffcc00;
}
.colResDark{
	color: #702090;
}
.colHl{
	color: #ffcc00;
}
.colLight{
	color: #fff0a0;
}

.colTi{
	color: #b0b0b0;
}
.colQ40{
	color: #70e070;
}
.colCr{
	color: #30c0ff;
}


/* --- help ---*/
.helpBox{
	clear: both;
	border-bottom: 1px solid #008b59;
	position: relative;
}

.helpImage{
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.helpContent{
	padding-top: 20px;
	margin: 0px 15px 15px 15px;
	text-align: justify;
	color: #80ffcc;
}

.helpContent b, .helpContent strong{
	color: #00b902;
}

.helpContent h1{
	font-size: 18px;
	color: red;
	font-weight: bold;
	margin: 15px 0px 10px 0px;
	letter-spacing: -1px;
}

.helpContent h2{
	font-size: 12px;
	color: red;
	font-weight: bold;
	margin: 15px 0px 10px 0px;
}



/* Menu CSS ---------------- */

.toolbar{
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-top: 5px;
}

.toolbar a{
	color: #f0f0f0;
}

.toolbar a:hover{
	color: #8282d9;
}

.bigBTN{
	text-align: center;
	float: left;
	width: 85px;
/*	border: 1px dashed #444444;*/
}

.bigBTN img{
	width: 48px;
	height: 48px;
	padding: 5px;
}

.smallItemsBox{
	float: left;
	padding: 4px 10px 0px 15px;
}

.smallBTN{
	height: 23px;
	padding-top: 3px;
	display: block;
}

.smallBTN img{
	width: 16px;
	height: 16px;
	padding: 4px;
	float: left;
}

.smallBTN div{
	padding-top: 2px; 
	cursor: pointer;
	display: inline-block;
}


/* Forms ---------------------------- */

form{
	margin: 0px;
	padding: 0px;
}

form label{
	margin-right: 5px;
	vertical-align: middle;
	color: #d9dfff;
}

input, select{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	vertical-align: middle;
}

input[type="text"], input[type="password"]{
	border: 1px solid #8282d9;
	background-color: Black;
	color: #d9dfff;
	padding: 1px 3px 1px 3px;
	height: 15px;
	line-height: 14px;
	margin: 1px;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="text"]:focus, input[type="password"]:focus{
	border: 1px solid #a0a0ff;
	background: black url("images/inputbox-small-hl.gif") repeat-x center;
}

select{
	border: 1px solid #8282d9;
	background-color: #10052a;
	color: #d9dfff;
	padding: 1px;
	height: 19px;
	margin: 1px;
}

input[type="button"], input[type="submit"]{
	border: 1px solid #8282d9;
	background: black url("images/button-small.gif") repeat-x center;
	color: white;
	padding: 1px 10px 3px 10px;
	cursor: pointer;
	height: 19px;
	line-height: 14px;
	margin: 1px;
}

input[type="button"]:hover, input[type="submit"]:hover{
	border: 1px solid #a0a0ff;
	background-image: url("images/button-small-hl.gif");
}

input[type="checkbox"]{
	padding: 0px;
	margin: 1px;
}

textarea{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 3px;
	background-color: Black;
	border: 1px solid #8282d9;
	color: #d9dfff;
	margin: 1px;
}

textarea:hover, textarea:focus{
	border: 1px solid #a0a0ff;
	background-color: #10052a;
}

.spinButton{
	width: 25px;
	text-align: right;
}