#sectDetail{
	height: 63px;
	width: 778px;
	border-top: 1px solid #552780;
	border-bottom: 1px solid #552780;
	background-color: #1a102a;
}

.mapLeftBox{
	float: left;
	padding: 5px 0px 5px 10px;
	text-align: left;
}

.mapRightBox{
	float: right;
	padding: 5px 10px 5px 0px;
	text-align: right;
}

.mapNoAccess{
	float: right;
	padding: 27px 70px 0px 0px;
	color: red;
}

.mapShort{
	margin-top: 3px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 28px;
	letter-spacing: -1px;
	float: left;
	width: 65px;
    font-weight: bold;
}

.mapName{
	margin-top: 5px;
	font-size: 12px;
	line-height: 16px;
	float: left;
}

.mapIndex{
	margin: 2px 0px;
	height: 16px;
	text-align: right;
	font-weight: bold;
	font-size: 11px;
}

.mapCap{
	margin-top: 3px;
	color: white;
	font-size: 18px;
	padding-right: 5px;
}

.mapStation{
	margin-top: 5px;
	color: white;
	font-size: 10px;
	padding-right: 5px;
	float: right;
}
.mapSource{
	margin-top: 5px;
	color: white;
	font-size: 10px;
	padding-right: 5px;
}