.TabPost {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	font-size: 10px;
	color: #b6f2b6;
	background-color: black;
	border: 1px solid #B2EAB3;
}
.TabPost TD{
	text-align: justify;
}
.TabPost TH{
	text-align: justify;
}
.postText{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #b6f2b6;
}