.sectorTitle {
	margin-bottom: 10px;
	width: 472px;
	padding: 2px;
	font-size: 11px;
	text-align: center;
}
.resLine {
	cursor: default;
	background-repeat: no-repeat;
	background-position: left;
	padding: 1px 0px 1px 22px;
	height: 16px;
	margin-right: 10px;
}