.levelBox{
	color: black;
	width: 100px;
	height: 80px;
	display: block;
	margin: 0px 35px 10px 0px;
	padding: 3px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 8px;
	float: left;
	position: relative;
	display: inline;
	cursor: pointer;
}

.levelBox:hover{
	color: black;
}

.levelPerc{
	margin: 5px 0px;
	font-size: 40px;
	text-align: center;
}

.levelLevel{
	position: absolute;
	bottom: 2px;
	right: 3px;
	font-size: 10px;
	color: #404040;
}

#lvl_ti{
	background-color: #808080;
}

#lvl_ti:hover{
	background-color: #b0b0b0;
}

#lvl_q40{
	background-color: #60b060;
}

#lvl_q40:hover{
	background-color: #70e070;
}

#lvl_cr{
	background-color: #2090d0;
}

#lvl_cr:hover{
	background-color: #30c0ff;
}

#space{
	background-color: #b0b020;
}

#space:hover{
	background-color: #d0d030;
}


.stInfoBox{
	border-top: 1px solid #552780;
	border-bottom: 1px solid #552780;
	background-color: #1a102a;
	padding: 7px 10px;
	margin: 5px 0px;
	display: block;
	clear: left;
}

.imgStation{
	margin: 10px auto 15px auto;
	display: block;
}

.stItem{
	border: 1px solid #552780;
	margin: 15px 0px 0px 0px;
	padding: 2px;
	display: block;
	width: 330px;
	position: relative;
}

.stItem img{
	float: left;
	margin-right: 8px;
}

.stItemTitle{
	font-size: 14px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #ffcc00;
	font-weight: bold;
	background-color: #1a102a;
	display: block;
	padding: 2px 5px 2px 0px;
}

.stItemRes{
	margin: 5px 10px 0px 0px;
	font-size: 11px;
	display: inline-block;
	line-height: 13px;
}

.stItemRes label{
	width: 37px;
	display: inline-block;
}

.stItemBuild{
	position: absolute;
	right: 2px;
	bottom: 2px;
	text-align: right;
}

.stSwitch{
	cursor: pointer;
	text-align: right;
	display: block;
	font-size: 10px;
}