img{
	border: 0px;
}

a{
	color: #8282d9;
	text-decoration: none;
}

a:hover{
	color: #ffcc00;
}

.content strong{
	color: #00b902;
}

.content .hl{
  color: #ffcc00;
}

p{
	text-align: justify;
	text-indent: 40px;
	padding: 0px;
	margin: 5px 0px 15px 0px;
   line-height: 18px;
}

.highLine{
   line-height: 18px;
}

.content h1{
	font-size: 16px;
	color: red;
	font-weight: bold;
	margin: 10px 0px;
}
.content h2{
	font-size: 13px;
	color: red;
	font-weight: bold;
	margin: 0px;
}

.content .name{
	font-weight: bold;
	font-size: 13px;
	color: white;
}

.smallText{
	font-size: 10px;
}

.errorBox{
	background-image: url("images/warning.png");
	background-repeat: no-repeat;
	background-position: 7px center;
	min-height: 50px;
	padding: 10px 10px 10px 85px;
	margin: 15px auto;
	text-align: left;
	border: 1px solid #a00000;
	background-color: #400000;
	color: red;
	width: 400px;
}

.btn {
	cursor: pointer;
	background-color: #1a102a;
	color: #c4c4f4;
	border: 1px solid #552780;
	padding: 2px 5px;
}


/* --- window ---*/
.window{
	background-color: #100020;
	border: 1px dotted #6a196c; 
	margin: 10px 0px 5px 0px;
	text-align: justify;
}
.windowCaption{
	/* background: black url("images/window-title.gif") repeat-x center; */
	background-color: #401030;
	/* color: #d9dfff; */
	color: #fff0a0;
	padding: 2px;
	font-weight: bold;
	font-size: 12px;
	font-variant: small-caps;
}
.windowFooter{
	background-color: #100020;
	border-top: 1px dotted #6a196c;
	padding: 1px 3px 1px 3px;
	text-align: right;
}



/* --- manual ---*/
.manualSub {
  margin-left: 2em;
}

h2.manual {margin-bottom: 1em;}

li.manual {
  list-style-type: square;
  text-align: left;
}



/* --- Tab ---*/

.center{
	margin-left: auto;
	margin-right: auto;
}

.Tab {
	border-collapse: collapse;
	font-size: 10px;
	padding: 0;
	color: #f8f0ff;
	background-color: black;
	border-top: 1px solid #552780;
	border-left: 1px solid #552780;
}
.Tab TD{
	border-bottom: 1px solid #552780;
	border-right: 1px solid #552780;
	text-align: center;
	padding: 3px;
	vertical-align: top;
	height: auto;
}
.Tab TH{
	border-bottom: 1px solid #552780;
	border-right: 1px solid #552780;
	text-align: center;
	padding: 2px;
	color: #fff0a0;
	background-color: #401030;
	font-weight: bold;
}
.TabH1{
    background-color: #1a001a;
}

.TabH2{
    background-color: #300030;
}
.middle TD{
	vertical-align: middle;
}



/* --- Tab2 ---*/
.Tab2 {
	border-collapse: collapse;
	font-size: 11px;
	padding: 0;
	color: white;
	background-color: black;
	border-bottom: 3px solid black;
}
.Tab2 TD{
	text-align: center;
	padding: 3px 7px;
/*	vertical-align: top;*/
	height: auto;
}
.Tab2 TH{
	border-top: 1px solid #552780;
	border-bottom: 3px solid black;
	text-align: center;
	padding: 3px 7px;
	color: #fff0a0;
	background-color: #401030;
	font-weight: bold;
}
.Tab2 TR:hover{
	background-color: #300030;
}



/* --- Side panel ---*/
.sideBox{
	float: right;
	width: 205px;
	margin-right: 10px;
	margin-top: 10px;
}
.sideBoxLeft{
	float: left;
	width: 205px;
	margin-left: 10px;
	margin-top: 10px;
}
.mainContentBox{
	margin: 10px 235px 10px 20px;
}
.mainContentBox2{
	margin: 10px 235px 10px 235px;
}
.sidePanelTitle{
	/*	background: black url("images/window-title.gif") repeat-x center; */
	background-color: #401030;
	/* color: #ffcc00; */
	color: #fff0a0;
	padding: 2px 6px 2px 6px;
	font-weight: bold;
	font-size: 12px;
	font-variant: small-caps;
	/* border-top: 1px solid #552780; */
	border-left: 1px solid #552780;
	margin-left: auto;
	width: 188px;
}
.sidePanel{
	border-left: 1px solid #552780; 
	margin-left: auto;
	margin-bottom: 25px;
	padding: 0px 6px 6px 6px;
	width: 188px;
	background-color: #1a102a;
}
.sideLabel{
	padding-top: 8px;
	font-size: 10px;
	color: #402050;
	font-weight: bold;
	display: block;
}

