/** ========== layout_v2.css ========== */

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	background-color: black;
	color: #d9dfff;
	background-image: url("/images/b5gna/layout-top-bg-b5.jpg");
	background-repeat: no-repeat;
	background-position: center 0px;
	/*behavior: url("/js/b5gna/csshover3.htc");*/
}

.pageTop {
	margin: 0px auto;
	width: 950px;
	height: 130px;
}

.infoBox {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #c4c4f4;
	background-repeat: no-repeat;
	background-image: url("/images/b5gna/layout-infobox-big.png");
	width: 295px;
	height: 96px;
	padding: 8px 13px;
	float: right;
	text-align: right;
	margin-top: 12px;
	position: relative;
}

.infoBox strong {
	font-size: 15px;
	color: #ffcc00;
}

.infoBox .indBox {
	position: absolute;
	bottom: 6px;
	left: 15px;
}

.infoBox .indIcon {
	width: 26px;
	height: 24px;
	margin-right: 5px;
	float: left;
	position: relative;
}

.infoBox .indCount {
	cursor: pointer;
	color: black;
	background-color: #ffcc00;
	border: 1px solid black;
	font-size: 9px;
	padding-right: 1px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#B5time {
	position: absolute;
	bottom: 10px;
	right: 16px;
}

.browserVer {
	margin: 0px auto;
	width: 950px;
	background-color: red;
	border: 1px solid black;
	color: black;
	font-weight: bold;
	padding: 4px;
	position: relative;
	top: 10px;
}

.browserVer a {
	color: #530053;
	text-decoration: underline;
}

.menuPanel {
	margin: 19px auto 0px auto;
	height: 27px;
	width: 950px;
	padding: 0px 17px;
	position: relative;
	top: 8px;
	color: black;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.menuBTN {
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center 0px;
	height: 27px;
	width: 95px;
	padding: 5px 10px 0px 10px;
	text-align: center;
}

.panelTop {
	height: 8px;
	min-width: 984px;
	margin: 0px auto;
	background-repeat: no-repeat;
	background-image: url("/images/b5gna/panel-top.png");
	background-position: center 0px;
	position: relative;
	z-index: 2;
}

.panelBottom {
	height: 7px;
	min-width: 984px;
	margin: 0px auto;
	background-repeat: no-repeat;
	background-image: url("/images/b5gna/panel-bottom.png");
	background-position: center 0px;
	position: relative;
	z-index: 2;
}

.panel {
	height: 105px;
	min-width: 984px;
	margin: 0px auto;
	background-repeat: no-repeat;
	background-image: url("/images/b5gna/panel-main.png");
	background-position: center 0px;
	position: relative;
	z-index: 2;
}

.panelBox {
	width: 950px;
	margin: 0px auto 0px auto;
	padding: 4px 17px 4px 17px;
}

.panelRightBox {
	float: right;
	padding-right: 5px;
}

.resLabel {
	padding-right: 5px;
	font-size: 10px;
	color: #402050;
	font-weight: bold;
}

.panelResources {
	cursor: default;
	background-repeat: no-repeat;
	background-position: right;
	/*	padding-right: 22px;
	margin: 0px 0px;*/
	padding: 1px 22px 1px 0px;
	height: 16px;
	text-align: right;
	font-weight: bold;
	font-size: 11px;
}

.mainDoc {
	background-repeat: repeat-y;
	background-image: url("/images/b5gna/layout-doc-bg.png");
	width: 950px;
	min-height: 400px;
	margin: 0px auto;
	padding: 0px 17px;
	position: relative;
	top: -7px;
	z-index: 1;
}

.mainTitle {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	/*	color: #d9dfff;*/
	color: #ffcc00;
	letter-spacing: -1px;
	background-repeat: repeat-x;
	background-image: url("/images/b5gna/layout-title-bg.gif");
	font-weight: bold;
	font-size: 24px;
	float: left;
	height: 36px;
	padding: 5px 10px 0px 15px;
}

.mainTitleFade {
	background-repeat: no-repeat;
	background-image: url("/images/b5gna/layout-title-fade.gif");
	float: left;
	height: 41px;
	width: 61px;
}

.bottomBTN {
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center 0px;
	height: 18px;
	width: 76px;
	padding: 2px 10px 0px 10px;
	margin-right: 30px;
	text-align: center;
	float: right;
	color: black;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	background-image: url('/images/b5gna/menu/help.png');
}

.bottomBTN:hover {
	color: white;
}

.pageBottom {
	position: relative;
	z-index: 0;
	min-width: 984px;
}

.pageBottomBG {
	background-repeat: repeat-x;
	background-image: url("/images/b5gna/layout-bottom-bg.jpg");
	height: 251px;
	width: 100%;
	left: 0px;
	position: absolute;
	top: -100px;
}

.mainDocBottom {
	background-repeat: no-repeat;
	background-image: url("/images/b5gna/layout-doc-bottom.png");
	margin: 0px auto;
	position: relative;
	top: -7px;
	height: 37px;
	width: 984px;
}

.pageBottomInfo {
	width: 950px;
	margin: 0px auto;
	position: relative;
	font-size: 10px;
	text-align: right;
	top: -18px;
}

.content {
	padding: 5px;
	clear: both;
	color: #f8f0ff;
}

.narrowBox {
	margin: 0 auto;
	padding: 30px 0px 15px 0px;
	width: 830px;
}

.warningBox {
	min-height: 70px;
	position: relative;
	top: 70px;
	left: 170px;
	padding: 5px 10px 0px 80px;
	text-align: left;
	background-repeat: no-repeat;
	background-image: url("/images/b5gna/warning.png");
}

.colResLight {
	/*	color: #c0a0ff;*/
	color: #ffcc00;
}

.colResDark {
	color: #702090;
}

.colHl {
	color: #ffcc00;
}

.colLight {
	color: #fff0a0;
}

.colTi {
	color: #b0b0b0;
}

.colQ40 {
	color: #70e070;
}

.colCr {
	color: #30c0ff;
}


/* --- help ---*/

.helpBox {
	clear: both;
	border-bottom: 1px solid #008b59;
	position: relative;
	background-image: url("/images/b5gna/help-bg.jpg");
	background-repeat: repeat-x;
	background-position: bottom;
	background-size: 100% 100%;
}

.helpContent {
	padding-top: 20px;
	margin: 0px 15px 15px 15px;
	text-align: justify;
	color: #80ffcc;
}

.helpContent b,
.helpContent strong {
	color: #00b902;
}

.helpContent h1 {
	font-size: 18px;
	color: red;
	font-weight: bold;
	margin: 15px 0px 10px 0px;
	letter-spacing: -1px;
}

.helpContent h2 {
	font-size: 12px;
	color: red;
	font-weight: bold;
	margin: 15px 0px 10px 0px;
}


/* Menu CSS ---------------- */

.toolbar {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-top: 5px;
}

.toolbar a {
	color: #f0f0f0;
}

.toolbar a:hover {
	color: #8282d9;
}

.bigBTN {
	text-align: center;
	float: left;
	width: 85px;
	/*	border: 1px dashed #444444;*/
}

.bigBTN img {
	width: 48px;
	height: 48px;
	padding: 5px;
}

.smallItemsBox {
	float: left;
	padding: 4px 10px 0px 15px;
}

.smallBTN {
	height: 23px;
	padding-top: 3px;
	display: block;
}

.smallBTN img {
	width: 16px;
	height: 16px;
	padding: 4px;
	float: left;
}

.smallBTN div {
	padding-top: 2px;
	cursor: pointer;
	display: inline-block;
}


/* Forms ---------------------------- */

form {
	margin: 0px;
	padding: 0px;
}

form label {
	margin-right: 5px;
	vertical-align: middle;
	color: #d9dfff;
}

input,
select {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	vertical-align: middle;
}

input[type="text"],
input[type="password"] {
	border: 1px solid #8282d9;
	background-color: black;
	color: #d9dfff;
	padding: 1px 3px 1px 3px;
	height: 15px;
	line-height: 14px;
	margin: 1px;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="text"]:focus,
input[type="password"]:focus {
	border: 1px solid #a0a0ff;
	background: black url("/images/b5gna/inputbox-small-hl.gif") repeat-x center;
}

select {
	border: 1px solid #8282d9;
	background-color: #10052a;
	color: #d9dfff;
	padding: 1px;
	height: 19px;
	margin: 1px;
}

input[type="button"],
input[type="submit"] {
	border: 1px solid #8282d9;
	background: black url("/images/b5gna/button-small.gif") repeat-x center;
	color: white;
	padding: 1px 10px 3px 10px;
	cursor: pointer;
	height: 19px;
	line-height: 14px;
	margin: 1px;
}

input[type="button"]:hover,
input[type="submit"]:hover {
	border: 1px solid #a0a0ff;
	background-image: url("/images/b5gna/button-small-hl.gif");
}

input[type="checkbox"] {
	padding: 0px;
	margin: 1px;
}

textarea {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 3px;
	background-color: black;
	border: 1px solid #8282d9;
	color: #d9dfff;
	margin: 1px;
}

textarea:hover,
textarea:focus {
	border: 1px solid #a0a0ff;
	background-color: #10052a;
}

.spinButton {
	width: 25px;
	text-align: right;
}


/** ========== styles_v2.css ========== */

img {
	border: 0px;
}

a {
	color: #8282d9;
	text-decoration: none;
}

a:hover {
	color: #ffcc00;
}

.content strong {
	color: #00b902;
}

.content .hl {
	color: #ffcc00;
}

p {
	text-align: justify;
	text-indent: 40px;
	padding: 0px;
	margin: 5px 0px 15px 0px;
	line-height: 18px;
}

.highLine {
	line-height: 18px;
}

.content h1 {
	font-size: 16px;
	color: red;
	font-weight: bold;
	margin: 10px 0px;
}

.content h2 {
	font-size: 13px;
	color: red;
	font-weight: bold;
	margin: 0px;
}

.content .name {
	font-weight: bold;
	font-size: 13px;
	color: white;
}

.smallText {
	font-size: 10px;
}

.errorBox {
	background-image: url("/images/b5gna/warning.png");
	background-repeat: no-repeat;
	background-position: 7px center;
	min-height: 50px;
	padding: 10px 10px 10px 85px;
	margin: 15px auto;
	text-align: left;
	border: 1px solid #a00000;
	background-color: #400000;
	color: red;
	width: 400px;
}

.btn {
	cursor: pointer;
	background-color: #1a102a;
	color: #c4c4f4;
	border: 1px solid #552780;
	padding: 2px 5px;
}


/* --- window ---*/

.window {
	background-color: #100020;
	border: 1px dotted #6a196c;
	margin: 10px 0px 5px 0px;
	text-align: justify;
}

.windowCaption {
	/* background: black url("/images/b5gna/window-title.gif") repeat-x center; */
	background-color: #401030;
	/* color: #d9dfff; */
	color: #fff0a0;
	padding: 2px;
	font-weight: bold;
	font-size: 12px;
	font-variant: small-caps;
}

.windowFooter {
	background-color: #100020;
	border-top: 1px dotted #6a196c;
	padding: 1px 3px 1px 3px;
	text-align: right;
}


/* --- manual ---*/

.manualSub {
	margin-left: 2em;
}

h2.manual {
	margin-bottom: 1em;
}

li.manual {
	list-style-type: square;
	text-align: left;
}


/* --- Tab ---*/

.center {
	margin-left: auto;
	margin-right: auto;
}

.Tab {
	border-collapse: collapse;
	font-size: 10px;
	padding: 0;
	color: #f8f0ff;
	background-color: black;
	border-top: 1px solid #552780;
	border-left: 1px solid #552780;
}

.Tab TD {
	border-bottom: 1px solid #552780;
	border-right: 1px solid #552780;
	text-align: center;
	padding: 3px;
	vertical-align: top;
	height: auto;
}

.Tab TH {
	border-bottom: 1px solid #552780;
	border-right: 1px solid #552780;
	text-align: center;
	padding: 2px;
	color: #fff0a0;
	background-color: #401030;
	font-weight: bold;
}

.TabH1 {
	background-color: #1a001a;
}

.TabH2 {
	background-color: #300030;
}

.middle TD {
	vertical-align: middle;
}


/* --- Tab2 ---*/

.Tab2 {
	border-collapse: collapse;
	font-size: 11px;
	padding: 0;
	color: white;
	background-color: black;
	border-bottom: 3px solid black;
}

.Tab2 TD {
	text-align: center;
	padding: 3px 7px;
	/*	vertical-align: top;*/
	height: auto;
}

.Tab2 TH {
	border-top: 1px solid #552780;
	border-bottom: 3px solid black;
	text-align: center;
	padding: 3px 7px;
	color: #fff0a0;
	background-color: #401030;
	font-weight: bold;
}

.Tab2 TR:hover {
	background-color: #300030;
}


/* --- Side panel ---*/

.sideBox {
	float: right;
	width: 205px;
	margin-right: 10px;
	margin-top: 10px;
}

.sideBoxLeft {
	float: left;
	width: 205px;
	margin-left: 10px;
	margin-top: 10px;
}

.mainContentBox {
	margin: 10px 235px 10px 20px;
}

.mainContentBox2 {
	margin: 10px 235px 10px 235px;
}

.sidePanelTitle {
	/*	background: black url("/images/b5gna/window-title.gif") repeat-x center; */
	background-color: #401030;
	/* color: #ffcc00; */
	color: #fff0a0;
	padding: 2px 6px 2px 6px;
	font-weight: bold;
	font-size: 12px;
	font-variant: small-caps;
	/* border-top: 1px solid #552780; */
	border-left: 1px solid #552780;
	margin-left: auto;
	width: 188px;
}

.sidePanel {
	border-left: 1px solid #552780;
	margin-left: auto;
	margin-bottom: 25px;
	padding: 0px 6px 6px 6px;
	width: 188px;
	background-color: #1a102a;
}

.sideLabel {
	padding-top: 8px;
	font-size: 10px;
	color: #402050;
	font-weight: bold;
	display: block;
}


/** ========== forum.css ========== */

.forum .TabPost {
	padding: 0px;
	font-size: 10px;
	color: #d9dfff;
	background-color: black;
	border: 1px solid #8282d9;
}

.forum .TabPost TD {
	text-align: justify;
}

.forum .TabPost TH {
	text-align: justify;
}

.forum .postText {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
}

.forumCol {
	width: 425px;
	margin-top: 10px;
	margin-left: 30px;
	padding: 5px 0px;
	float: left;
}

.group {
	padding: 3px;
	text-align: justify;
}

.groupTitle {
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffcc00;
	border-bottom: 1px dashed #552780;
	margin-bottom: 8px;
}

.forumItem {
	clear: both;
	background-color: #1a102a;
	margin-bottom: 6px;
	height: 24px;
	border-right: 4px solid #552780;
}

.forumItemSel {
	border-right-color: #eecc00;
}

.forumItem a {
	display: block;
	height: 24px;
	color: #c4c4f4;
}

.forumItem a:hover {
	color: #ffcc00;
}

.forumItemSel a {
	color: white;
}

.forumName {
	float: left;
	padding: 3px 5px 3px 5px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.forumNick {
	float: right;
	height: 12px;
	font-size: 9px;
	color: black;
	padding: 5px 3px 0px 3px;
	margin: 4px;
}

.forumCount {
	float: left;
	display: block;
	width: 36px;
	height: 22px;
	background-color: #552780;
	color: white;
	padding: 1px 3px;
	text-align: right;
	font-size: 10px;
	line-height: 11px;
	margin-right: 5px;
}

.forumFav {
	cursor: pointer;
	display: block;
	float: left;
}


/** ========== station.css ========== */

.levelBox {
	color: black;
	width: 100px;
	height: 80px;
	display: block;
	margin: 0px 35px 10px 0px;
	padding: 3px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 8px;
	float: left;
	position: relative;
	display: inline;
	cursor: pointer;
}

.levelBox:hover {
	color: black;
}

.levelPerc {
	margin: 5px 0px;
	font-size: 40px;
	text-align: center;
}

.levelLevel {
	position: absolute;
	bottom: 2px;
	right: 3px;
	font-size: 10px;
	color: #404040;
}

#lvl_ti.levelBox {
	background-color: #808080;
}

#lvl_ti.levelBox:hover {
	background-color: #b0b0b0;
}

#lvl_q40.levelBox {
	background-color: #60b060;
}

#lvl_q40.levelBox:hover {
	background-color: #70e070;
}

#lvl_cr.levelBox {
	background-color: #2090d0;
}

#lvl_cr.levelBox:hover {
	background-color: #30c0ff;
}

#lvl_space.levelBox {
	background-color: #b0b020;
	width: 250px; float: right; margin-right:0px;
}

#lvl_space.levelBox:hover {
	background-color: #d0d030;
}

.stInfoBox {
	border-top: 1px solid #552780;
	border-bottom: 1px solid #552780;
	background-color: #1a102a;
	padding: 7px 10px;
	margin: 5px 0px;
	display: block;
	clear: left;
}

.imgStation {
	margin: 10px auto 15px auto;
	display: block;
}

.stItem {
	border: 1px solid #552780;
	margin: 15px 0px 0px 0px;
	padding: 2px;
	display: block;
	width: 330px;
	position: relative;
}

.stItem img {
	float: left;
	margin-right: 8px;
}

.stItemTitle {
	font-size: 14px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #ffcc00;
	font-weight: bold;
	background-color: #1a102a;
	display: block;
	padding: 2px 5px 2px 0px;
}

.stItemRes {
	margin: 5px 10px 0px 0px;
	font-size: 11px;
	display: inline-block;
	line-height: 13px;
}

.stItemRes label {
	width: 37px;
	display: inline-block;
}

.stItemBuild {
	position: absolute;
	right: 2px;
	bottom: 2px;
	text-align: right;
}

.stSwitch {
	cursor: pointer;
	text-align: right;
	display: block;
	font-size: 10px;
}


/** ========== map.css ========== */

#sectDetail {
	height: 63px;
	width: 778px;
	border-top: 1px solid #552780;
	border-bottom: 1px solid #552780;
	background-color: #1a102a;
}

.mapLeftBox {
	float: left;
	padding: 5px 0px 5px 10px;
	text-align: left;
}

.mapRightBox {
	float: right;
	padding: 5px 10px 5px 0px;
	text-align: right;
}

.mapNoAccess {
	float: right;
	padding: 27px 70px 0px 0px;
	color: red;
}

.mapShort {
	margin-top: 3px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 28px;
	letter-spacing: -1px;
	float: left;
	width: 65px;
	font-weight: bold;
}

.mapName {
	margin-top: 5px;
	font-size: 12px;
	line-height: 16px;
	float: left;
}

.mapIndex {
	margin: 2px 0px;
	height: 16px;
	text-align: right;
	font-weight: bold;
	font-size: 11px;
}

.mapCap {
	margin-top: 3px;
	color: white;
	font-size: 18px;
	padding-right: 5px;
}

.mapStation {
	margin-top: 5px;
	color: white;
	font-size: 10px;
	padding-right: 5px;
	float: right;
}

.mapSource {
	margin-top: 5px;
	color: white;
	font-size: 10px;
	padding-right: 5px;
}


/** ========== sector.css ========== */

.sectorTitle {
	margin-bottom: 10px;
	width: 472px;
	padding: 2px;
	font-size: 11px;
	text-align: center;
}

.resLine {
	cursor: default;
	background-repeat: no-repeat;
	background-position: left;
	padding: 1px 0px 1px 22px;
	height: 16px;
	margin-right: 10px;
}


/** ========== msg.css ========== */

.msg .TabPost {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	font-size: 10px;
	color: #b6f2b6;
	background-color: black;
	border: 1px solid #B2EAB3;
}

.msg .TabPost TD {
	text-align: justify;
}

.msg .TabPost TH {
	text-align: justify;
}

.msg .postText {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #b6f2b6;
}

.msgSelectionBox {
	width:250px;
	border: 1px solid #552780;
	padding:5px;
}


/** ========== notice_board.css ========== */

.notice-board .TabPost {
	padding: 0px;
	font-size: 10px;
	color: #f8f0ff;
	background-color: black;
	border: 1px solid #552780;
}

.notice-board .TabPost TD {
	text-align: justify;
}

.notice-board .TabPost TH {
	text-align: justify;
}


/** ========== vote.css ========== */

.vote .TabPost {
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	font-size: 10px;
	color: #b6f2b6;
	background-color: black;
	border: 1px solid #B2EAB3;
}

.vote .TabPost TD {
	text-align: justify;
}

.vote .TabPost TH {
	text-align: justify;
}

.vote .postText {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
}

.ABox {
	font-size: 12px;
	border: 0;
	margin: 0 1 0 1;
	font-weight: bold;
	color: #00b902;
}

.ABox:hover {
	color: #B2EAB3;
	border: 1px solid White;
	margin: 0;
	text-decoration: none;
}


/** ========== Animations ========== */

.blink {
	animation: blinker 2s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}