.TabPost {
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	font-size: 10px;
	color: #b6f2b6;
	background-color: black;
	border: 1px solid #B2EAB3;
}
.TabPost TD{
	text-align: justify;
}
.TabPost TH{
	text-align: justify;
}

.postText{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
}

.ABox{
	font-size: 12px;
	border: 0;
	margin: 0 1 0 1;
	font-weight: bold;
	color: #00b902;
}
.ABox:hover {
	color: #B2EAB3;
	border: 1px solid White;
	margin: 0;
	text-decoration: none;
}